.comment { 
    background: url(../img/sprite/back.png) no-repeat 0 0; 
}
.comment_1 { 
    background: url(../img/sprite/close.png) no-repeat 0 0; 
}
.comment_2 { 
    background: url(../img/sprite/less.png) no-repeat 0 0; 
}
.comment_3 { 
    background: url(../img/sprite/refresh.png) no-repeat 0 0; 
}