.column {
  width: 50%;
  float: left;
}

@media (max-width:50rem) {
  .column {
    width: 100%;
    float: none;
  }
}

.column_one,.column_two {
  border: 0.0625rem solid #ccc;
}

.column_two {
  border-left: 0;
}

@media (max-width:50rem) {
  .column_one,.column_two {
    border: 0.0625rem solid #ccc;
  }
  .column_two {
    border-top: 0;
  }
}

body {
  background-color: blue;
}