body {
	background-color: #ebeae4;
}
header {
	padding: 0 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: #48382d;
	position: fixed;
	left: 0;
	top: 0;
	width: 92%;
}
.food-box {
	margin-top: 50px;
}
select {
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	font-family: "Microsoft Yahei";
}
header select {
	color: #fff;
	font-size: 1.7rem;
	vertical-align: middle;
}
select option {
	color: #333;
}
.city:after {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	content: "";
	background: url(../img/icons.png) no-repeat;
	background-size: 50px 250px;
	background-position: center -75px;
}
nav a {
	float: left;
	width: 60px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	font-size: 1.1rem;
	color: #86765d;
	background-color: #48382c;
	border-width: 1px;
	border-style: solid;
	border-color: #675140 #534034 #2f241c #2f241c;
	border-radius: 4px 0 0 4px;
}
nav a .active {
	background-color: #44352a;
	border-radius: 4px 0 0 4px;
	border-color: #6c5441;
	box-shadow: inset -1px 1px 2px #2c221b;
}
.btn-bar {
	position: relative;
}
.btn-bar > a {
	float: left;
	width: 32px;
	height: 32px;
	background:  url(../img/icons.png) no-repeat;
	background-size: 50px 250px;
}
.btn-bar > .search-btn {
	background-position: center 2px;
}
.btn-bar > .menu-btn {
	background-position: center -35px;
}
.btn-bar ul {
	padding: 20px 0;
	position: absolute;
	top: 50px;
	right: 0;
	width: 84px;
	background-color: rgba(76,52,43,0.4);
}
.btn-bar ul a {
	text-align: center;
	height: 22px;
	line-height: 22px;
	font-size: 1.4rem;
	display: block;
	color: #fff;
}
.food-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 92%;
	margin: 8px auto;
}
.food-list li {
	flex-basis: 49%;
	background-color: #fff;
	margin-bottom: 8px;
	padding: 6px;
	box-sizing: border-box;
}
.food-list li > a {
	display: block;
	color: #292929;
	font-size: 1.3rem;
}
.food-list li > a figcaption {
	height: 30px;
	line-height: 30px;
}
.food-list li .price {
	color: #ff0000;
	font-size: 1.6rem;
}
.food-list span {
	float: right;
}
.food-list span a {
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url(../img/icon.jpg) no-repeat;
	background-size: 39px 28px;
}
.food-list span .share-btn {	
	background-position: 0 0;
}
.food-list span .share-btn.active {
	background-position: 0 -14px;
}
.food-list span .collection-btn {
	background-position: -24px 0;
}
.food-list span .collection-btn.active {
	background-position: -24px -14px;
}
.footer-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
}
.footer-bar ul {
	display: flex;
	height: 47px;
	background-color: #48382b;
}
.footer-bar ul li {
	flex-basis: 20%;
	text-align: center;
	font-size: 1rem;
}
.footer-bar ul li a {
	display: block;
	color: #c3ad88;
	margin-top: 4px;
}
.footer-bar ul li a:before {
	display: block;
	margin: 0 auto;
	content: "";
	width: 25px;
	height: 25px;
	background: url(../img/icon_bar.png) no-repeat;
	background-size: 375px 75px;	
}
.footer-bar ul .active a {
	color: #6ab439;
}
.footer-bar ul .f-icon-1 a:before {
	background-position: -25px -7px;
}
.footer-bar ul .f-icon-2 a:before {
	background-position: -174px -7px;
}
.footer-bar ul .f-icon-3 a:before {
	background-position: -101px -7px;
}
.footer-bar ul .f-icon-4 a:before {
	background-position: -250px -7px;
}
.footer-bar ul .f-icon-5 a:before {
	background-position: -323px -7px;
}

.footer-bar ul .f-icon-1.active a:before {
	background-position: -25px -49px;
}
.footer-bar ul .f-icon-2.active a:before {
	background-position: -174px -49px;
}
.footer-bar ul .f-icon-3.active a:before {
	background-position: -101px -49px;
}
.footer-bar ul .f-icon-4.active a:before {
	background-position: -250px -49px;
}
.footer-bar ul .f-icon-5.active a:before {
	background-position: -323px -49px;
}